astroid==3.3.9
asttokens==3.0.0
colorama==0.4.6
coverage==7.6.12
dill==0.3.9
dotenv==0.9.9
exceptiongroup==1.2.2
executing==2.2.0
icecream==2.1.4
iniconfig==2.0.0
isort==6.0.1
mccabe==0.7.0
numpy==2.0.2
packaging==24.2
pandas==2.2.3
platformdirs==4.3.6
pluggy==1.5.0
Pygments==2.19.1
pylint==3.3.5
pytest==8.3.5
pytest-cov==6.0.0
pytest-pylint==0.21.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2025.1
six==1.17.0
tomli==2.2.1
tomlkit==0.13.2
typing_extensions==4.12.2
tzdata==2025.1
